<template>
  <div>
    <h1>Home</h1>
    <ChatList :messages="messages" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import ChatList from '@/components/ChatList';

const { Types: { getters: chatGetters, actions: chatActions } } = require('@/store/modules/chat/types');

export default {
  name: 'HomeView',
  components: {
    ChatList,
  },
  computed: {
    ...mapGetters({
      messages: chatGetters.GET_MESSAGES,
    }),
  },
  mounted() {
    this.$store.dispatch(chatActions.GET_MESSAGES);
  },
};
</script>

<style lang="scss" scoped>
h1 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: 3em;
  letter-spacing: 0.05em;
  color: #4b4b4b;
}
</style>
